
body {
    font-family: Arial, sans-serif;
}

.container {
    display:flex;
    flex-direction: column;
    min-height:100%;
}

header {
    min-width: 247px;
}

header,a {
    float:right;
    font-size:13px;
    padding-right: 15px;
    padding-top: 10px;
    text-decoration: none;
}

.btn-connexion {
    border:1px solid #4285f4;
    border-radius: 2px;
    background: -moz-linear-gradient(top,#4387fd,#4683ea);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

#img-google {
    display:flex;
    justify-content:center;
    padding-top: 100px;
}

#div-input {
    display:flex;
    justify-content:center;
    margin-top: 10px;;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    width: 580px;
    margin: auto;
    margin-bottom: 20px;
}

#div-input:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

input {
    display: flex;
    justify-content:center;
    border: transparent;
    width:320px;
    margin: auto;
}

#btn-span {
    display:flex;
    justify-content:center;
}

span {
    border: 1px solid rgb(218, 214, 214);
    background:#f8f9fa;
    margin: 10px;
    border-radius: 4px;
    color: black;
}

span:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

#btn-span2 {
    display:flex;
    justify-content:center;
    margin-top: auto;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
}

#footer-france {
    color: rgba(0,0,0,.54);
    background-color:#f2f2f2;
    display:flex;
    height:40px;
    border-top: 1px solid rgba(0,0,0,.54);
}

#footer-bottom {
    display:flex;
    justify-content:space-between;
    background-color:#f2f2f2;
    height:40px;
    border-top: 1px solid  rgba(0,0,0,.54);
}

div > p > a{
    text-decoration: none;
    color: rgba(0,0,0,.54);
    font-size: 14px;
}

div > p > a:hover {
    text-decoration: underline;
}